name: Auto commit

on:

  push:
    branches:
      - master
      
  schedule:
  - cron: "*/30 * * * *" # See https://crontab.guru/#0_7,9,11_*_*_1,3

jobs:
  auto_commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3      
        with:
         persist-credentials: false
         fetch-depth: 0

      - name: Modify last update
        run: |
          d=`date '+%Y-%m-%dT%H:%M:%SZ'`
          echo $d > LAST_UPDATED
          
      - name: Commit changes
        run: |
          git config --local user.email "henryglazt@gmail.com"
          git config --local user.name "henryglazt"
          git add -A
          
          arr[0]="chore(bot): Update README.md"
          arr[1]="chore(bot): Update .gitignore"
          arr[2]="chore(bot): Update index.js"
          arr[3]="chore(bot): Update config.js"
          arr[4]="chore(bot): Update configuration.js"
          arr[5]="chore(bot): Update mysql_connect.js"
          arr[6]="chore(bot): Update package.json"
          arr[7]="chore(bot): Update utils.js"
          arr[8]="chore(bot): Update CheckAuth.js"
          arr[9]="chore(bot): Update setlang.js"
          
          rand=$[$RANDOM % ${#arr[@]}]
          
          git commit -m "${arr[$rand]}"
          
      - name: GitHub Push
        uses: ad-m/github-push-action@v0.6.0
        with:
          directory: "."
          github_token: ${{ secrets.GITHUB_TOKEN }}
